# Ignore virtual environment folders
venv/
.venv/
env/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE settings
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
